* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para garantir que a div#root ocupe o tamanho desejado */
html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777777;
}

@media (min-width: 1024px) {
    ::-webkit-scrollbar {
        height: 0px;
    }
}