* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo para garantir que a div#root ocupe o tamanho desejado */
html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
